body {
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

a.photo {
    transition: padding 0.5s;
}
a.photo:hover {
    padding: 10px;
}

header {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #244751;
    color: #E8FDFF;

}

main {
    background-color: white;
    padding: 16px;
}

.finstagram-post {
    margin-bottom: 48px;
}

.finstagram-post .user-info img {
    border-radius: 50%;
}